**/.build/
**/.vscode/

build/CMakeFiles/AccelerateGS.dir/compiler_depend.internal
build/CMakeFiles/AccelerateGS.dir/compiler_depend.make
build/CMakeFiles/AccelerateGS.dir/src/main.cu.o
build/AccelerateGS

